@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=League+Gothic&family=Roboto:wght@100&display=swap");
h1 {
  color: black;
  background-color: #2a9d8f;
  font-family: 'League Gothic', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 100px; }

h2 {
  color: #e76f51;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 50px; }

.h2 {
  text-align: center;
  width: 100%; }

h3 {
  color: #2a9d8f;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: bold; }

section p {
  color: white; }

.botonWhatsapp {
  width: 100px;
  position: fixed;
  bottom: 1%;
  right: 1%; }

body {
  background-color: #264653;
  width: 100%; }

.historia-fluid {
  width: 100%; }

.historiaIntroduccion-fluid, .historiaImportante-fluid {
  font-size: 10px; }

.contenedorImg {
  background-image: url(../img/atlpTeam.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px black solid;
  display: flex;
  font-size: 30px;
  padding: 0;
  margin: 0; }

.contenedorImgIndex {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: #264653;
  display: flex;
  justify-content: left; }
  .contenedorImgIndex img {
    height: 100%;
    align-items: flex-start;
    position: relative; }

.contenedorTexto {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: #264653;
  display: flex;
  justify-content: right;
  padding: 1rem; }
  .contenedorTexto p {
    width: 700px;
    height: 100%;
    justify-content: right;
    background-color: black;
    opacity: 0.5;
    color: white;
    border: black 2px solid;
    font-size: 25px; }

main {
  padding: 1rem; }

/* MENU */
.enlaces {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
  .enlaces .imgFondoEnlaces {
    width: 100%;
    height: 100%; }
    .enlaces .imgFondoEnlaces img {
      width: 100%; }
  .enlaces .containerEnlaces {
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%; }
    .enlaces .containerEnlaces .row {
      height: 50%; }
    .enlaces .containerEnlaces h5 {
      text-align: center;
      text-transform: uppercase; }
    .enlaces .containerEnlaces p {
      color: black;
      text-align: center; }
    .enlaces .containerEnlaces a {
      display: flex;
      justify-content: center; }
  .enlaces .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }

.tresFotos {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: relative; }

.headerImg {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative; }
  .headerImg img {
    width: 100%;
    height: 100%; }
  .headerImg picture {
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 50%;
    position: absolute; }

.fotoGrupal {
  display: block;
  margin: auto; }

.tituloHistoria {
  text-align: center; }

.ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem; }
  .ubicacion colinaAzul marcoPolo iframe {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; }
  .ubicacion p {
    color: #2a9d8f;
    text-transform: uppercase;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }

.container {
  position: relative;
  width: 50%; }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.container:hover .image {
  opacity: 0.3; }

.container:hover .middle {
  opacity: 1; }

.text {
  background-color: #2a9d8f;
  color: white;
  font-size: 16px;
  padding: 16px 32px; }

.imgHistoria {
  padding: 1rem; }

/*EVENTOS*/
body {
  width: 100%; }

.hijoFlexEventos {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center; }

.contenedorEventos {
  display: flex;
  background-color: teal;
  width: 80%;
  border: 3px black solid;
  font-size: 30px;
  border-radius: 5px;
  margin: auto;
  color: black; }

.flyer1,
.flyer2,
.flyer3,
.flyer4 {
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem; }

/* TEAM */
.containerFran {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black; }
  .containerFran img {
    width: 100%;
    height: 100%; }
  .containerFran p {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.containerBrau {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black; }
  .containerBrau img {
    width: 100%;
    height: 100%; }
  .containerBrau p {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.containerYam {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black; }
  .containerYam img {
    width: 100%;
    height: 100%; }
  .containerYam p {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.containerSanti {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black; }
  .containerSanti img {
    width: 100%;
    height: 100%; }
  .containerSanti p {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.containerJona {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black; }
  .containerJona img {
    width: 100%;
    height: 100%; }
  .containerJona p {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.contenedorTeamFlex {
  text-align: center;
  margin: 50px;
  padding: 30px;
  height: 80%; }

.padreTeamFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  height: 100%;
  gap: 3rem; }

.fotoGrupal {
  width: 100%;
  padding: 1rem; }

.franFoto:hover,
.brauFoto:hover,
.yamFoto:hover,
.santiFoto:hover,
.jonaFoto:hover {
  filter: grayscale(100%); }

.fotosTeam {
  width: 100%; }

/* GALERIA */
a:visited {
  color: black; }

.aqui {
  font-size: 15px;
  font-weight: bold; }

body {
  display: inline-block; }

.button {
  width: 220px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  padding: 15px 50px;
  color: black;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #e76f51;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #2a9d8f; }
  .button:hover {
    background-color: #e76f51; }
  .button:active {
    background-color: #2a9d8f;
    box-shadow: 0 5px #e76f51; }

.carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  .carousel slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; }

.row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .row img {
    width: 100%; }

.col {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

iframe {
  display: block;
  width: 100%;
  flex-wrap: wrap; }

/* CONTACTO */
.form {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  background-image: url(../img/austria-4936672.jpg);
  width: 90%;
  height: 100%;
  border: 5px black solid;
  border-radius: 30px;
  margin: auto;
  display: flex;
  justify-content: center; }
  .form legend {
    text-align: center;
    font-size: 35px; }
  .form label {
    color: #264653; }

fieldset {
  width: 80%; }

/* SHOP */
.container text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px; }

.btn {
  background-color: #2a9d8f; }
  .btn:hover {
    background-color: #e76f51; }

nav {
  height: 120px;
  background: #e76f51;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

.container-fluid {
  background-color: #e76f51; }

nav div ul {
  float: right;
  margin-right: 25px; }
  nav div ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px; }
    nav div ul li a {
      position: relative;
      color: black;
      font-size: 30px;
      padding: 5px 0;
      text-transform: uppercase; }
      nav div ul li a:before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 25px;
        height: 3px;
        width: 100%;
        background: black;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .4s linear; }

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left; }

.nav-link {
  font-size: 20px;
  font-weight: bolder; }

footer {
  color: #2a9d8f;
  text-align: center;
  font-weight: bolder;
  font-size: 25px; }

a {
  text-decoration: none;
  color: black;
  font-size: 15px; }

.logosFooter {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly; }

/* GRID AREA */
.contenedor {
  display: grid;
  grid-template-areas: "nav nav nav" "header header header" "main main main" "texto texto texto" "fotos fotos fotos" "enlaces enlaces enlaces" "footer footer footer"; }

main {
  grid-area: main; }

nav {
  grid-area: nav; }

header {
  grid-area: header; }

footer {
  grid-area: footer; }

.tituloImg {
  grid-area: tituloImg; }

.textoInicio {
  grid-area: texto; }

.tresFotos {
  grid-area: fotos; }

.enlaces {
  grid-area: enlaces; }

.contenedorEventos1 {
  display: grid;
  grid-template-areas: "nav nav" "header header" "h2 h2" "p p" "eventoUno eventoUno" "eventoDos eventoDos" "eventoTres eventoTres" "eventoCuatro eventoCuatro" "footer footer"; }

nav {
  grid-area: nav; }

header {
  grid-area: header; }

h2 {
  grid-area: h2; }

p {
  grid-area: p; }

.eventoUno {
  grid-area: eventoUno; }

.eventoDos {
  grid-area: eventoDos; }

.eventoTres {
  grid-area: eventoTres; }

.eventoCuatro {
  grid-area: eventoCuatro; }

footer {
  grid-area: footer; }

.contenedorTeam {
  display: grid;
  grid-template-areas: "nav nav nav nav nav" "header header header header header" "main main main main main" "fran brau yam santi jona" "footer footer footer footer footer"; }

main {
  grid-area: main; }

nav {
  grid-area: nav; }

img {
  grid-area: img; }

header {
  grid-area: header; }

section {
  grid-area: section; }

.fran {
  grid-area: fran; }

.brau {
  grid-area: brau; }

.yam {
  grid-area: yam; }

.santi {
  grid-area: santi; }

.jona {
  grid-area: jona; }

footer {
  grid-area: footer; }

.contenedorContactos {
  display: grid;
  grid-template-areas: "nav nav nav" "header header header" "main main main" "h2 h2 h2" "ubicacion ubicacion ubicacion" "footer footer foooter"; }

nav {
  grid-area: nav; }

header {
  grid-area: header; }

main {
  grid-area: main; }

.h2 {
  grid-area: h2; }

.ubicacion {
  grid-area: ubicacion; }

footer {
  grid-area: footer; }

/*MEDIA QUERIES*/
/* VERSION MOBILE */
@media (max-width: 480px) {
  .contenedor {
    display: grid;
    grid-template-areas: "nav nav" "header header" "main main" "texto texto" "fotos fotos" "enlaces enlaces" "footer footer"; }
  .contenedorEventos1 {
    display: grid;
    grid-template-areas: "nav" "header" "h2" "p" "eventoUno" "eventoDos" "eventoTres" "eventoCuatro" "footer"; }
  .contenedorTeam {
    display: grid;
    grid-template-areas: "nav nav" "header header" "main main" "section section" "fran brau" "yam santi" "jona jona" "footer footer"; }
  .contenedorContactos {
    display: grid;
    grid-template-areas: "nav nav nav" "header header header" "main main main" "h2 h2 h2" "ubicacion ubicacion ubicacion" "footer footer footer"; }
  .gridPadreShop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; }
  .producto {
    display: flex;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center; }
  .contenedorShop {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .footerShop {
    display: flex;
    flex-direction: column; } }

/* VERSION TABLET */
@media (min-width: 480px) {
  .contenedor {
    display: grid;
    grid-template-areas: "nav nav" "header header" "main main" "texto texto texto" "fotos fotos fotos" "enlaces enlaces enlaces" "footer footer"; }
  .contenedorEventos1 {
    display: grid;
    grid-template-areas: "nav" "header" "h2" "p" "eventoUno" "eventoDos" "eventoTres" "eventoCuatro" "footer"; }
  .contenedorTeam {
    display: grid;
    grid-template-areas: "nav nav nav" "header header header" "main main main" "section section section" "fran brau yam" "santi jona jona" "footer footer footer"; }
  .contenedorContactos {
    display: grid;
    grid-template-areas: "nav nav nav" "header header header" "main main main" "h2 h2 h2" "ubicacion ubicacion ubicacion" "footer footer footer"; }
  .contenedorShop {
    display: grid;
    grid-template-areas: "nav nav" "header header" "h2 h2" "productos productos" "footer footer"; } }

/* VERSION ESCRITORIO */
@media (min-width: 1024px) {
  .contenedor {
    display: grid;
    grid-template-areas: "nav nav nav" "header header header" "main main main" "texto texto texto" "fotos fotos fotos" "enlaces enlaces enlaces" "footer footer footer"; }
  .contenedorEventos1 {
    display: grid;
    grid-template-areas: "nav nav" "header header" "h2 h2" "p p" "eventoUno eventoDos" "eventoTres eventoCuatro" "footer footer"; }
  .contenedorTeam {
    display: grid;
    grid-template-areas: "nav nav nav nav nav" "header header header header header" "main main main main main" "section section section section section" "fran brau yam santi jona" "footer footer footer footer footer"; }
  .contenedorContactos {
    display: grid;
    grid-template-areas: "nav nav nav" "header header header" "main main main" "h2 h2 h2" "ubicacion ubicacion ubicacion" "footer footer footer"; }
  .contenedorShop {
    display: grid;
    grid-template-areas: "nav nav nav" "header header header" "h2 h2 h2" "productos productos productos" "footer footer footer"; } }

/*MAPAS*/
.h1 {
  color: black; }

.h2 {
  color: #e76f51; }

.footer {
  color: #2a9d8f; }

/*EXTEND*/
.historiaIntroduccion-fluid, .historiaImportante-fluid {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 20px; }

.historiaImportante-fluid {
  text-align: center;
  font-weight: bold;
  font-size: 30px; }

/*MIXIN*/
.contenedorEventos {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-align: center; }
