/*EXTEND*/

.historiaIntroduccion-fluid {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 20px;
}

.historiaImportante-fluid {
    @extend .historiaIntroduccion-fluid;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}