footer {
    color: $color-fondo-titulos;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.logosFooter {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}