/*MEDIA QUERIES*/

/* VERSION MOBILE */

@media (max-width:480px) {
    .contenedor {
        display: grid;
        grid-template-areas:
            "nav nav"
            "header header"
            "texto texto"
            "fotos fotos"
            "enlaces enlaces"
            "comunicate comunicate"
            "footer footer";
    }

    .contenedorEventos1 {
        display: grid;
        grid-template-areas:
            "nav"
            "header"
            "h2"
            "p"
            "eventoUno"
            "eventoDos"
            "eventoTres"
            "eventoCuatro"
            "footer";
    }

    .contenedorTeam {
        display: grid;
        grid-template-areas:
            "nav nav"
            "header header"
            "main main"
            "section section"
            "fran brau"
            "yam santi"
            "jona jona"
            "footer footer";
    }

    .contenedorContactos {
        display: grid;
        grid-template-areas:
            "nav nav nav"
            "header header header"
            "main main main"
            "h2 h2 h2"
            "ubicacion ubicacion ubicacion"
            "footer footer footer";
    }

    .gridPadreShop {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .producto {
        display: flex;
        width: 300px;
        height: 300px;
        align-items: center;
        justify-content: center;

    }

    .contenedorShop {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .footerShop {
        display: flex;
        flex-direction: column;
    }
}



/* VERSION TABLET */

@media (min-width:480px) {
    .contenedor {
        display: grid;
        grid-template-areas:
            "nav nav"
            "header header"
            "texto texto texto"
            "fotos fotos fotos"
            "enlaces enlaces enlaces"
            "comunicate comunicate comunicate"
            "footer footer";
    }

    .contenedorEventos1 {
        display: grid;
        grid-template-areas:
            "nav"
            "header"
            "h2"
            "p"
            "eventoUno"
            "eventoDos"
            "eventoTres"
            "eventoCuatro"
            "footer";
    }

    .contenedorTeam {
        display: grid;
        grid-template-areas:
            "nav nav nav"
            "header header header"
            "main main main"
            "section section section"
            "fran brau yam"
            "santi jona jona"
            "footer footer footer";
    }

    .contenedorContactos {
        display: grid;
        grid-template-areas:
            "nav nav nav"
            "header header header"
            "main main main"
            "h2 h2 h2"
            "ubicacion ubicacion ubicacion"
            "footer footer footer";
    }

    .contenedorShop {
        display: grid;
        grid-template-areas:
            "nav nav"
            "header header"
            "h2 h2"
            "productos productos"
            "footer footer";
    }
}



/* VERSION ESCRITORIO */

@media (min-width:1024px) {
    .contenedor {
        display: grid;
        grid-template-areas:
            "nav nav nav"
            "header header header"
            "texto texto texto"
            "fotos fotos fotos"
            "enlaces enlaces enlaces"
            "comunicate comunicate comunicate"
            "footer footer footer";
    }

    .contenedorEventos1 {
        display: grid;
        grid-template-areas:
            "nav nav"
            "header header"
            "h2 h2"
            "p p"
            "eventoUno eventoDos"
            "eventoTres eventoCuatro"
            "footer footer";
    }

    .contenedorTeam {
        display: grid;
        grid-template-areas:
            "nav nav nav nav nav"
            "header header header header header"
            "main main main main main"
            "section section section section section"
            "fran brau yam santi jona"
            "footer footer footer footer footer";
    }

    .contenedorContactos {
        display: grid;
        grid-template-areas:
            "nav nav nav"
            "header header header"
            "main main main"
            "h2 h2 h2"
            "ubicacion ubicacion ubicacion"
            "footer footer footer";
    }

    .contenedorShop {
        display: grid;
        grid-template-areas:
            "nav nav nav"
            "header header header"
            "h2 h2 h2"
            "productos productos productos"
            "footer footer footer";
    }
}