nav {
    height: 120px;
    background: #e76f51;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.container-fluid {
    background-color: #e76f51;
}

nav {
    div ul {
        float: right;
        margin-right: 25px;

        li {
            display: inline-block;
            line-height: 80px;
            margin: 0 15px;

            a {
                position: relative;
                color: black;
                font-size: 30px;
                padding: 5px 0;
                text-transform: uppercase;

                &:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 25px;
                    height: 3px;
                    width: 100%;
                    background: black;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform .4s linear;
                }
            }
        }
    }

    ul li a:hover:before {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.nav-link {
    font-size: 20px;
    font-weight: bolder;
}