@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=League+Gothic&family=Roboto:wght@100&display=swap');

@import "variables";
@import "general";
@import "nav";
@import "footer";
@import "grid-areas";
@import "media-queries";
@import "maps";
@import "extend";
@import "mixin";






